.wrapper {
    background-image: url(ricepaper_v3_@2X.png);
    background-repeat: 100%;
}

/*colors & content for nav bar*/
.navbar-header {
    font-family: sans-serif;
    color: #F0BF0B;
    font-size: 12px;
}

/*colors & content for nav bar*/
.icon-bar {
    font-family: sans-serif;
    color: #F0BF0B;
    font-size: 12px;
}

.headhesive--clone {
  position: fixed;                   /* fix the element */
  top: 0;                            /* make sure it's at the top */
  transform: translateY(-100%);      /* move it off screen */
  transition: all 300ms ease-in-out; /* add animation */
}

.headhesive--stick {
  transform: translateY(0%); /* move it back on screen */
}

.jumbotron {
    text-align: center;
    font-family: serif;
    color: #080000;
    margin-bottom: 0px;
    background-image: url(kayak-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 528px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: none;
}

.container {
    font-family: serif;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    font-family: serif;
    margin-right: auto;
    margin-left: auto;
}

.twitter {
    margin-top: 15px;
}

.facebook {
    margin-top: 15px;
}

#glyphs {
    font-size: 11px;
    color: #CC5200;
    text-align: center;
    margin-top: -22px;
}

.heading1 {
    margin-bottom: -2px;
    color: #080000;
}

.subhead1 {
    font-size: 13px;
    color: #CC5200;
}

.user {
    margin-left: 100px;
    color: #080000;
    margin-bottom: -2px;
}

#dominica {
    width: 250px;
    height: 200px;
    margin: 35px auto;
}

.heading3 {
    margin-bottom: -2px;
    color: #080000;
}

.profileText {
    font-size: 13px;
    color: #CC5200;
}

.heading4 {
    margin-bottom: -2px;
}

#services {
    font-size: 13px;
    color: #CC5200;
}

.heading5 {
    margin-bottom: -2px;
}

.subhead5 {
    font-size: 13px;
    color: #CC5200;
}

.resumeDetail {
    font-size: 13px;
    color: #CC5200;
}

.school {
    color: #080000;
    text-align: center;
}

.dateRange {
    font-size: 12px;
    color: #080000;
    text-align: center;
}

#customers {
   background-color: #F0BF0B; 
   text-align: center; 
   margin: 25px;
   max-height: 280px;
}

.customerHead {
    margin-top: 120px;
    font-size: 2em;
}

#gtr {
    width: 180px;
    height: 180px;
    background-color: #030000;
    border-radius: 50%;
    box-shadow: inset 0 0 6px 4px;
    margin: 25px;
    padding: 20px;
}

#a2o {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 20%;
    box-shadow: inset 0 0 6px 4px;
    margin: 25px;
    padding: 20px;
}

#reBoot {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 20%;
    box-shadow: inset 0 0 6px 4px;
    margin: 25px;
    padding: 20px;
}


.spacing {
    padding-left: 12px;
}

.button1 {
    margin: auto;
    padding: 5px;
}

.button2 {
    margin: auto;
    padding: 5px;
}

.contactHeading {
  margin-bottom: -2px; 
  color: #F0BF0B;
}

.chtag {
  font-size: 13px; 
  color: #CC5200;
}

.remarks {
   font-size: 13px; 
   color: white; max-width: 700px;
}

.contactName {
  font-size: 16px;
  color: #F0BF0B;
  padding-top: 22px;
  margin-left: 22px;
}

.contactInfo {
  font-size: 13px; 
  color: #CC5200;
  margin-left: 22px;
}

.fields {
   font-size: 13px; 
   color: #F0BF0B;
}

.submitButton {
    font-size: 14px; 
    color: #F0BF0B; 
    background-color: #030000; 
    border-radius: 15%; 
    width: 90px; 
    border-color: #CC5200; 
    padding: 6px; 
    font-weight: bold;
}

#footer {
  background-color:#030000; 
  margin: 10px;
}

.end {
  color: #F0BF0B; 
  font-size: 10px; 
  margin: 10px;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 25px;
    line-height: 25px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 25px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
    @media screen and (max-width: 599px) {}
    @media screen and (min-width: 980px) {}
  }



/*
Medium Color Palette
#AF3100 - orange-brown
#080000 - black
#CC5200 - darkorange
#E78309 - orange
#F0BF0B - goldenrod
#F9DF32 - yellow

Dark Color Palette
#461300 - darkbrown
#030000 - darkerblack
#512000 - burgundy
#5C3403 - brown
#604C04 - greenbrown
#635914 - olivegreen
*/
